/* .box {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: -10px;
} */

.head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.tax {
  border: 2px solid black;
  padding: 0 5px;
}
.email {
  font-size: 10px;
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.company {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.desc {
  text-align: center;
  font-size: 10px;
  margin-top: 2px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
